@model Restaurant.ViewModels.Register.UserRegister

@{
    Layout = "_RestaurantLayOut";
    ViewData["Title"] = "CustomerRegister";
}

@*<h2>Register</h2>*@

<hr />
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="CustomerRegister">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@


<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2 style="color:white">Register as a 
                <strong style="color:darkgoldenrod">Customer</strong>
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form asp-action="CustomerRegister">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div>
                            <input type="text"
                                   asp-for="UserName"
                                   class="form-control"
                                   placeholder="Your Name" />
                            <span asp-validation-for="UserName" class="text-danger"></span>

                        </div>
                        <div>                     
                            <input asp-for="Email"
                                   class="form-control"
                                   placeholder="Your Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div>
                            <input asp-for="Password"
                                   class="form-control"
                                   placeholder="Your Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div>
                        <div>
                            <input asp-for="ConfirmPassword"
                                   class="form-control"
                                   placeholder="Your ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                        </div>
                        <div>
                            <input asp-for="Address"
                                   class="form-control"
                                   placeholder="Your Address" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="btn_box">
                            <button>Register</button>
                            <a asp-action="Login" class="text-warning" style="margin-left:0.7em;">Already have account</a>

                        </div><br />
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>







<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
