<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title">Try another name, Alread exist</h2>
                    <p class="card-body">The category @ViewBag.CategoryFound already exists</p>
                    <a asp-controller="ProductCategories" asp-action="Index" class="btn btn-primary">Back to Categories</a>
                </div>
            </div>
        </div>
    </div>
</div>
